<li>
 <h3> <% post.title%> </h3>
 <p> <%= truncate(post.text, :length => 150) %> </p>
 <strong>
  <p class="placeholder stats">
   Comments: <%= post.comments_counter %>,
   Likes: <%= post.likes_counter %> </p>
 </strong>
 <ul>
  <% post.recent_five_comments.each do |comment| %>
   <li> <%= comment.text %> </li>
  <% end %>
   <a href="/users/<%= @user.id %>/posts/<%= post.id %>"> See more</a>
 </ul>
</li>
