<h1>Create Post</h1>
<%= form_with model: @post, url: user_posts_path, method: :post, scope: :new_post do |form| %>
  <div class="mb-3">
    <%= form.label :Subject %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :Comment %>
    <%= form.text_area :text, class: "form-control text" %>
  </div>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    <%= form.submit %>
  </button>
<% end %>